/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* 全ての文字色を変更 */
  color: #6c6b6b;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 120px;
}
header {
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;

  text-align: center;
}
/* headerタグ内headingクラスにのみ反映 */
header .heading {
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
/* .header-top { */
  width: 100%;
  height: 70px;
}
/* .header-bottom { */
  width: 100%;
  height: 50px;
}
.main-visual {
  width: 100%;
  height: 300px;
}
.main {
  width: 100%;
  height: 1400px;

  /* Flexbox記述欄 */
  display: flex;
  justify-content: center;
  /* mail（親要素）のFlexbox適用 */
  margin: 0 auto;
  /* ここまで */
}
/* .footer { */
  width: 100%;
  height: 120px;
}
.main-visual-content {
  width: 350px;
  height: 300px;
}
.blog {
  width: 600px;
  height: 1400px;
}
.sidebar {
  width: 240px;
  height: 1400px;
}
footer {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}
.footer-text {
  color: #fff;
}